@keyframes sticky {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.header_section {
  background-color: #fff;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  padding-bottom: 10px;
}
.header_section.sticky {
  animation: sticky 1s;
}
.header_section .header_wrapper .divider {
  position: relative;
  padding: 10px 0 10px 28px;
}
.header_section .header_wrapper .divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 40px;
  background: #d9dee3;
  transform: translateY(-50%);
}
.header_section .header_wrapper .header_category {
  width: -moz-fit-content;
  width: fit-content;
}
.header_section .header_wrapper .header_category .ant-btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  padding: 0;
}
.header_section .header_wrapper .header_category .category_icon {
  margin-right: 7px;
}
.header_section .header_wrapper .header_category:hover .ant-btn,
.header_section .header_wrapper .header_category:hover .category_icon svg {
  color: #0071dc;
  fill: #0071dc;
}
.header_section .header_wrapper .header_inner {
  /**=== Header mobile toggle ===**/
}
.header_section .header_wrapper .header_inner .header_search {
  position: relative;
  padding: 0 10px;
}
.header_section .header_wrapper .header_inner .header_search label:not(.ant-radio-wrapper) {
  display: none;
}
.header_section .header_wrapper .header_inner .header_search .inputWrapper input {
  color: #252525;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-weight: 500;
  height: 60px;
  padding: 3px 20px;
  padding-right: 65px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header_section .header_wrapper .header_inner .header_search .inputWrapper input:focus {
  background-color: #fff;
  border: 1px solid #0071dc;
}
.header_section .header_wrapper .header_inner .header_search .serach_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border: 0;
  background-color: transparent;
  color: #0071dc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
}
.header_section .header_wrapper .header_inner .header_search .serach_btn:hover {
  background-color: #0071dc;
  color: #fff;
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li a {
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #252525;
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li a.active {
  color: #0071dc;
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li a.active span::before {
  width: 100%;
  background-color: #0071dc;
  left: 0;
  right: auto;
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li a span {
  position: relative;
  padding: 4px 0;
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li a span::before {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: transparent;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li a svg {
  width: 10px;
  padding: 0 5px;
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li:hover a {
  color: #0071dc;
}
.header_section .header_wrapper .header_inner nav.header_navBar .dropDown_menu li:hover a span::before {
  width: 100%;
  background-color: #0071dc;
  left: 0;
  right: auto;
}
.header_section .header_wrapper .header_inner .header_cart .header_cart_btn {
  position: relative;
}
.header_section .header_wrapper .header_inner .header_cart .header_cart_btn svg {
  height: 20px;
}
.header_section .header_wrapper .header_inner .header_cart .header_cart_btn span {
  position: absolute;
  top: -6px;
  right: -14px;
  padding: 0 4px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  background: #0071dc;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.header_section .header_wrapper .header_inner .header_user.divider {
  padding-left: 0 !important;
}
/**=== Fix css AntDesign ===**/
.menuHome ul.ant-dropdown-menu {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 20px;
}
.menuHome ul.ant-dropdown-menu li.ant-dropdown-menu-item svg {
  width: 24px;
  height: 24px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.menuHome ul.ant-dropdown-menu li.ant-dropdown-menu-item a {
  color: #252525;
  text-wrap: wrap;
}
.menuHome ul.ant-dropdown-menu li.ant-dropdown-menu-item:hover svg {
  color: #0071dc;
  background-color: transparent;
}
.menuHome ul.ant-dropdown-menu li.ant-dropdown-menu-item:hover a {
  color: #0071dc;
}
.menuHome.isMobile ul.ant-dropdown-menu {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.header_cart_content .header_cart__list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 70vh;
}
.header_cart_content .header_cart__list .header_cart__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px 17px 10px 10px;
  border-radius: 5px;
}
.header_cart_content .header_cart__list .header_cart__item:hover {
  background-color: #f5f5f5;
}
.header_cart_content .header_cart__list .header_cart__item .header_cart__close {
  position: absolute;
  top: 0;
  right: -4px;
  width: 20px;
  height: 20px;
}
.header_cart_content .header_cart__list .header_cart__item .header_cart__caption {
  padding-left: 10px;
}
.amount,
.header_cart__total {
  font-weight: 700;
}

.separator {
  font-size: 75%;
}

.header_user_modal input:not([type=checkbox]) {
  height: 50px;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}
.header_user_modal input:not([type=checkbox]):focus {
  background-color: #fff;
  border: 1px solid #0071dc;
}
.header_user_modal input:not([type=checkbox]):focus::-moz-placeholder {
  font-size: 12px;
  padding-left: 20px;
  color: #e1e1e1;
}
.header_user_modal input:not([type=checkbox]):focus::placeholder {
  font-size: 12px;
  padding-left: 20px;
  color: #e1e1e1;
}
.header_user_modal .ant-modal-content {
  padding: 20px 40px;
}
.header_user_modal .ant-modal-content .ant-modal-header {
  text-align: center;
}
.header_user_modal .ant-modal-content .ant-modal-header .ant-modal-title {
  font-size: 32px;
  line-height: 1.5;
  margin: 0 0 8px;
}
.header_user_modal .ant-modal-content .ant-modal-body .modal-description {
  text-align: center;
}
.header_user_modal .ant-modal-content .ant-modal-body .modal-description a,
.header_user_modal .ant-modal-content .ant-modal-body .modal-description button {
  position: relative;
  color: #252525;
  padding: 0;
  background: none;
  border: 0;
}
.header_user_modal .ant-modal-content .ant-modal-body .modal-description a::before, .header_user_modal .ant-modal-content .ant-modal-body .modal-description a::after,
.header_user_modal .ant-modal-content .ant-modal-body .modal-description button::before,
.header_user_modal .ant-modal-content .ant-modal-body .modal-description button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  transform-origin: right;
  transform: scaleX(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.header_user_modal .ant-modal-content .ant-modal-body .modal-description a::after,
.header_user_modal .ant-modal-content .ant-modal-body .modal-description button::after {
  background-color: #0071dc;
  transform-origin: left;
  transform: scaleX(0) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header_user_modal .ant-modal-content .ant-modal-body .modal-description a:hover,
.header_user_modal .ant-modal-content .ant-modal-body .modal-description button:hover {
  color: #0071dc;
}
.header_user_modal .ant-modal-content .ant-modal-body .modal-description a:hover::before,
.header_user_modal .ant-modal-content .ant-modal-body .modal-description button:hover::before {
  transform: scaleX(0) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header_user_modal .ant-modal-content .ant-modal-body .modal-description a:hover::after,
.header_user_modal .ant-modal-content .ant-modal-body .modal-description button:hover::after {
  transform: scaleX(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
/**=== fix responsive  header ===**/
.header_category button .category_text {
  display: none;
}

.header_user .btn {
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  border-radius: 5px;
}

@media (min-width: 558px) {
  .headerNavMenu_mobile .ant-popover-inner-content .header_search {
    min-width: 277px;
  }
}
@media (min-width: 598px) {
  .headerNavMenu_mobile .ant-popover-inner-content .header_search {
    min-width: 300px;
  }
}
@media (min-width: 768px) {
  .header_category button .category_text {
    display: inline-block !important;
  }
}
@media (min-width: 1280px) {
  .header_user .btn {
    font-size: 15px;
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    border-radius: 8px;
  }
}
.headerNavMenu_mobile .ant-popover-inner-content {
  height: 50vh;
  overflow-y: auto;
}
.headerNavMenu_mobile .ant-popover-inner-content ul.dropDown_menu li svg {
  width: 10px;
  padding: 0 5px;
}

.headerNavMenu_mobile_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  z-index: 50;
  transition: all 0.5s;
}

.userOnline .ant-space-item:has(.iconUser) {
  position: relative;
}
.userOnline .ant-space-item:has(.iconUser)::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #1dbf4e;
}

.headerUserProfile ul.ant-dropdown-menu li.ant-dropdown-menu-item:first-child {
  margin-top: 10px;
}
.headerUserProfile ul.ant-dropdown-menu li.ant-dropdown-menu-item:last-child {
  margin-top: 20px;
  margin-bottom: 10px;
}

.headerNavMenu_mobile .ant-popover-inner-content .header_search {
  max-width: 400px;
  position: relative;
  margin-top: 20px;
}
.headerNavMenu_mobile .ant-popover-inner-content .header_search label:not(.ant-radio-wrapper) {
  display: none;
}
.headerNavMenu_mobile .ant-popover-inner-content .header_search .inputWrapper input {
  color: #252525;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-weight: 500;
  height: 60px;
  padding: 3px 20px;
  padding-right: 65px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.headerNavMenu_mobile .ant-popover-inner-content .header_search .inputWrapper input:focus {
  background-color: #fff;
  border: 1px solid #0071dc;
}
.headerNavMenu_mobile .ant-popover-inner-content .header_search .serach_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border: 0;
  background-color: transparent;
  color: #0071dc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
}
.headerNavMenu_mobile .ant-popover-inner-content .header_search .serach_btn:hover {
  background-color: #0071dc;
  color: #fff;
}

.form_search .ant-radio-group {
  display: flex;
}

.form_search .ant-select-selector,
.form_search .ant-select-item-option-content {
  font-size: 13px;
}

.header_search .inputWrapper input[type=search i]::-webkit-search-cancel-button {
  position: relative;
  right: -7px;
  padding: 2px;
}/*# sourceMappingURL=header.css.map */